*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: $base-font-color;
	line-height: $base-line-height;
	background-color: $base-background-color;

	&.fonts-loaded {
		font-family: "Gotham Book Regular";
	}
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: $base-accent-color;
	text-shadow: none;
}

::selection {
	background: $base-accent-color;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: $base-border;
	margin: $base-spacing*2 0;
	padding: 0;
}

img {
	max-width: 100%;
}

section {
	margin: 0 0 $base-spacing*3;
	border-bottom: $base-border;

	&:last-of-type {
		margin: 0;
	}
}


/*
 * Links
 */
a {
	color: $base-link-color;
	text-decoration: none;
	transition: color $base-transition-duration $base-transition-timing;

	&:hover {
		color: $hover-link-color;
	}

	&:active,
	&:focus {
		color: $hover-link-color;
		outline: none;
	}
}