<!doctype html>
<html>
	{% include "../partials/head.html" %}

	<body>

		<h1>This is Just a Test</h1>
		<p>Etiam feugiat lorem non metus. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Vivamus aliquet elit ac nisl. Aliquam lobortis. Vestibulum ullamcorper mauris at ligula. Nunc nulla. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. In ac felis quis tortor malesuada pretium. Pellentesque auctor neque nec urna. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>

		<p>Cras id dui. Mauris sollicitudin fermentum libero. Fusce fermentum odio nec arcu. Fusce fermentum. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Nam pretium turpis et arcu. Fusce a quam. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Nullam quis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.</p>

		<p>Quisque rutrum. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Nulla facilisi.</p>

	</body>

	{% include "../partials/scripts.html" %}
</html>