<!doctype html>
<html>

	{% include "../partials/head.html" %}

	<body id="top">

		{% include "../partials/header.html" %}

		<main role="main">
			<div class="container">
				<form id="js-checklist" data-persist="garlic" data-destroy="false" method="POST">

					{% include "../partials/sections/process_workflow.html" %}

					{% include "../partials/sections/animations_effects.html" %}

					{% include "../partials/sections/fonts.html" %}

					{% include "../partials/sections/images.html" %}

					{% include "../partials/sections/svg.html" %}

					{% include "../partials/sections/perceived-performance.html" %}

				</form>
			</div>
		</main>


		{% include "../partials/progress.html" %}

		{% include "../partials/back-to-top.html" %}

		{% include "../partials/footer.html" %}


	</body>

	{% include "../partials/scripts.html" %}

</html>