@import "modular-scale/ratios";

$ms-base: $base-font-size !default;
$ms-ratio: $major-third !default;

@import "modular-scale/tests";

@import "modular-scale/pow";
@import "modular-scale/calc";
@import "modular-scale/generate-list";
@import "modular-scale/sort-list";
@import "modular-scale/function";
@import "modular-scale/function-list";