<section>
	<header class="text-align-center">
		<svg class="icon" width="90" height="90" viewBox="0 0 100 100">
			<use xlink:href="#fonts" />
		</svg>
		<h2>Fonts</h2>
	</header>

	<label class="control checkbox">
		<input type="checkbox">
		<span class="control-indicator"></span>
		Don’t exceed a total of three custom web fonts
		<a href="http://jonyablonski.com/2016/designers-guide-to-web-performance-optimization/#limit-fonts">Learn More</a>
	</label>

	<label class="control checkbox">
		<input type="checkbox">
		<span class="control-indicator"></span>
		Ensure custom web fonts have been optimized for web use
		<a href="http://jonyablonski.com/2016/designers-guide-to-web-performance-optimization/#choose-fonts-wisely">Learn More</a>
	</label>

	<label class="control checkbox">
		<input type="checkbox">
		<span class="control-indicator"></span>
		Ensure the proper font formats have been created for development, including WOFF 2.0 format
		<a href="http://jonyablonski.com/2016/designers-guide-to-web-performance-optimization/#font-formats">Learn More</a>
	</label>

	<label class="control checkbox">
		<input type="checkbox">
		<span class="control-indicator"></span>
		Have web safe fallback fonts for each custom web font in use
		<a href="http://jonyablonski.com/2016/designers-guide-to-web-performance-optimization/#fallback-fonts">Learn More</a>
	</label>
</section>