<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="./css/style.css" rel="stylesheet">

	<!-- Social Meta Tags-->
	{% include "../partials/social-meta.html" %}
	<!-- Social Meta Tags -->

	<!-- Picturefill -->
	<script>document.createElement( "picture" );</script>
	<script src="./js/picturefill-3.0.2.js" async></script>
	<!-- Picturefill -->

</head>
