<meta property="og:title" content="Designers Web Performance Checklist">
<meta property="og:description" content="A comprehensive project checklist for designers focused on prioritizing performance on the web.">
<meta property="og:image" content="designer-wpo_thumb.jpg">
<meta property="og:url" content="http://jonyablonski.com/designers-wpo-checklist/">
<meta name="twitter:card" content="http://jonyablonski.com/designers-wpo-checklist/designer-wpo_thumb.jpg">
<meta name="og:site_name" content="Designers Web Performance Checklist">
<meta name="twitter:image:alt" content="Web Performance Icon">
<meta name="twitter:site" content="@jonyablonski">